body {
    background-color: white;
}

.jumbotron {
    color: white;
    background-color: darkslategrey;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 10px;
}

button {
    background-color: white;
    color: grey;
    border: 1px grey;
    font-size: 20px;
}

li {
    list-style: none;
}
.red {
    background-color: red;
    padding: 2px;
    color: white;
}

.day {
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 5px;
}
.input-group-text {
    background-color: blue;
    color: white;
}
.citysearchcard {
    background-color: rgb(235, 233, 233);
    height: 100vh;
    float: left;
}

.forecast {
    height: 100vh;
}

.daycityinfo {
    margin: 2px;
    padding: 10px;
    border: 1px black solid;
}
.title {
    padding: 10px;
    
}
.fivedayforecast {
    padding: 10px;
}

.list1 {
    padding: 5px;
    font-size: 20px;
    list-style: none;
}
